<loading-spinner *ngIf="isLoading"></loading-spinner>
<div class="container">
    <div class="row size-limited">
        <div class="col-xs-12">
            <h1 class="title">
                Start here!
            </h1>
        </div>
    </div>
</div>
